<!-- views/index.ejs -->

<!doctype html>
<html ng-controller="MainController">
<head>
    <title>Node Authentication</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div ng-include="'/static/templates/main.htm'"></div>
<script src="/static/js/main.js"></script>
</body>
</html>   