<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="manifest" href="./static/manifest.json">
    <script src="./static/register.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <% if(user.LOGIN_TYPE == 'FACEBOOK') { %><h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook </h3>
                <% } else { %><h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3><% } %>

                    <p>
                        <strong>id</strong>: <%= user.ID %><br>
                        <strong>token</strong>: <%= user.TOKEN %><br>
                        <strong>email</strong>: <%= user.EMAIL %><br>
                        <strong>name</strong>: <%= user.NAME %>
                    </p>

            </div>
            <div class="well">
                <a href="/allUsers" class="btn btn-default btn-sm">Show All Members</a>
                <a href="/myGroups" class="btn btn-default btn-sm">My Groups</a>
                <a href="/createGroup" class="btn btn-default btn-sm">Create Group</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>